.recordSightingTitle {
    font-size: 2em;
    text-align: center;
    position: fixed;
    top: -1em;
    left: 0;
    width: 100%;
    height: 12%;
    display: flex;
    justify-content: space-around;
    padding: 5px;
    padding-top: 0.5em;
    z-index: 2;
    background-color: rgb(226,135,67);
}
.recordSightingForm {
    margin-top: 8em;
    background-color: #ffffff;
    border-radius: 1.2em;
    box-sizing: border-box;
    height: 70vh;
    padding: 1.5em;
    width: 95vi;
    border-style: solid;
    padding: 1em;
    margin-left: -9vi;
}
.recordSightingForm div {
    padding-bottom: 1.5em;
}
.inputContainer {
    margin-top: 1em;
    height: 50px;
    position: relative;
    width: 100%;
}
.icFile {
    display: flex;
    width: 21em;
}
.recordSightingInput, .recordSightingSelect, .recordSightingTextarea {
    background-color: rgb(210, 210, 210);
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #000000;
    font-size: 18px;
    height: 100%;
    outline: 0;
    padding: 4px 20px 0;
    width: 100%;
}
.recordSightingInput {
    height: 2.5em;
    background: none;
    width: 41%;
    margin-left: -0.5em;
}
.recordSightingInput::file-selector-button, .takePictureButton {
    display: inline-block;
    background-color: rgb(210, 210, 210);
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: black;
    cursor: pointer;
    font-size: 1em;
    height: 2em;
    outline: 0;
    text-align: center;
    width: 6em;
    margin-top: 0.2em;
    margin-left: -0.7em;
}
.takePictureButton {
    width: 7em;
    font-size: 1.1em;
    margin-top: 0.4em;
    height: 2.1em;
    margin-left: -1em;
}
.recordSightingButton {
    display: block;
    background-color: rgb(226,135,67);
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    cursor: pointer;
    font-size: 20px;
    height: 50px;
    outline: 0;
    text-align: center;
    width: 5em;
    margin-top: 1em;
}
.recordSightingButton:active, .recordSightingInput::file-selector-button:active, .takePictureButton:active {
    background-color: rgb(218, 105, 19);
}
/* Form css obtained from  https://codepen.io/ainalem/pen/GRqPwoz*/