@import url(https://fonts.googleapis.com/css?family=Montserrat);
#root {
    width: 80%;
    margin: 2em auto;
    font-family: 'Montserrat', sans-serif;
}
.sightings {
    margin-bottom: 6em;
}
.menu {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: space-around;
    padding: 5px;
    padding-top: 0;
    background-color: rgb(226,135,67);
}
.menuItem{
    padding: 15px 10px;
    cursor: pointer;
    text-decoration: none;
    color: black;
}
